* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-image: url(img/header-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 30px 10%;
    font-size: 300%;
    font-weight: 700;
    color: #E3DDEE;
    text-shadow: 2px 5px black;
}
body{
    background-color: #8566C1;
    font-family:'Lucida Sans Unicode', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans', Geneva, Verdana, sans-serif 
}
ul{
    list-style: none;
}
article{
    background-color: #8566C1;
    padding: 15px 20px;
}
.content{
    margin: 15px 0;
    width: 70%;
    font-weight: 700;
    background-color: #bfa6f1;
    color: #360D86;
    text-align: justify;
    border-radius: 25px 0 0 25px;
}
.content h1{
    text-align: left;
}
li{
    margin: 15px;
    padding: 15px;
    background-color: rgb(110, 31, 175);
    border-radius: 0 20px 0 20px;
    box-shadow: 5px 5px 10px rgb(29, 29, 29);
    font-weight: 700;
}
nav ul li a{
    text-decoration: none;
    color: #E3DDEE;
}
h1{
    font-size: 30px;
    margin-bottom: 15px;
}
.container{
    display: flex;
}
.navbar{
    width: 200px;
    background-color: #8566C1;
}
.footer{
    background-color: #5930A9;
    color: #E3DDEE;
    text-align: center;
    padding: 20px 0px;
}
.foto-html{
    width: 200px;
}
h1{
    font-family:'Lucida Sans Unicode';
    font-weight: 700;
}
h2{
    margin-bottom: 10px;
}


